{% extends "base.html.jinja" %}
{% block title %}MineOS Market Webserver{% endblock title %}
{% block body %}
<div class="box">
  <ul>
    <li><a href="/MineOSAPI/2.04/statistics.php">View Statistics</a></li>
    <li><a href="/debug">Debug</a></li>
  </ul>
</div>
{% endblock body %}
